#title:hover::after{
	content: attr(data-title);
	position: absolute;
	z-index: 1;
	background: rgb(0, 0, 0);
	left: 0px;
	top: 85%;
	height: 50px;
	width: 100%;
	padding: 0px;
	opacity: 0.4;
	text-align: center;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
}


.surface{
	width: 400px;
	height: 600px;
	border-radius: 16px;
	position: relative;
	margin:  0 auto;
	background: linear-gradient(135deg,#f9d423,#e14fad);
}

.item{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.buttons{
	margin: 10px;
	padding: 16px;
	display: block;
	background: rgba(255, 255, 255, 0.3);
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 12px;
	user-select: none;

}

.buttons:hover{
	background: rgba(100, 100, 100, 0.3);

}

.infobar{
	margin: 10px;
	padding: 16px;
	display: block;
	background: rgba(100, 100, 100, 0.3);
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 4px;
}

#coin {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

